* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Comfortaa', cursive;
    color: #1E1E20;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    font-size: 13px;
    vertical-align: top;
    outline: none;
}


/* Search Box */

.wrapper {
    text-align: center;
    margin-top: 32vh;
}

.input-field {
    padding: 0 30px;
    font-size: 18px;
    width: 70%;
    max-width: 500px;
    height: 50px;
    border: 1px solid #b3b3b3;
    border-right: none;
    border-radius: 20px 0 0 20px;
}

.submitBtn {
    border: none;
    color: #1E1E20;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    width: 45px;
    height: 50px;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    margin-left: -10px;
    outline: none;
}

.randomBtn {
    border: none;
    color: #1E1E20;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-radius: 0 20px 20px 0;
    margin-left: -8px;
    padding-right: 50px; 
    outline: none;
}

.fa {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.fa:hover {
    cursor: pointer;
    font-size: 26px;
}

.fa:active {
    transform: translateY(4px);
}

h4 {
    border-bottom: 1px solid #F0F0F0;
}

#search-results {
    padding-top: 120px;
    max-width: 900px;
    margin: 0 auto;
}


/* Display content from query search */

.wiki-content {
    padding-top: 100px;
    border: 1px solid #F6F6F6;
    padding: 0 20px;
    background-color: #F9F9F9;
    text-align: justify;
    border-radius: 8px;
    box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.4);
    margin-bottom: 12px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.wiki-content:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

a:link {
    color: #1E1E20;
    text-decoration: none;
}

a:visited {
    color: #1E1E20;
}

.move-input-up {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 0px;
    background-color: white;
    padding-top: 20px;
    height: 94px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.btn {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    display: none;
}

.moreBtn {
    background-color: #F9F9F9;
    outline: none;
    color: #4B4B4B;
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #EAEAEA;
    box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
}

.moreBtn:hover {
    background-color: #F0F0F0;
}

.moreBtn:active {
    transform: translateY(4px);
}
